@model IEnumerable<MVCManukauTech.Models.DB.Genre>

@{
    ViewData["Title"] = "Genres";
}

<h1>Genres</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
             @*  <a asp-action="Edit" asp-route-id="@item.GenreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GenreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GenreId">Delete</a> *@

                <a href="Genres/Edit?id=@item.GenreId">Edit</a>
                <a href="Genres/Details?id=@item.GenreId">Details</a>
                <a href="Genres/Delete?id=@item.GenreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
