@model IEnumerable<MVCManukauTech.ViewModels.ReportPenalties>

@{
    ViewData["Title"] = "ReportPenalties";
}

<h1>ReportPenalties</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Initials)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
              

            </tr>
        }
    </tbody>
</table>
@{ decimal grandTotal = Convert.ToDecimal(ViewData["total"]);
    string grandTotalDisplay = Math.Round(grandTotal, 2).ToString();
}
<p style="text-align:right">Total Amount = @grandTotalDisplay </p>